<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"-->
<!--    xmlns:tools="http://schemas.android.com/tools">-->

<!--    <uses-permission android:name="android.permission.INTERNET"/>-->
<!--    <uses-permission android:name="android.permission.CAMERA"/>-->
<!--    <uses-permission android:name="android.permission.RECORD_AUDIO"/>-->
<!--    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage"/>-->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="33"/>-->
<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>-->
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" android:required="false"/>-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" android:required="false"/>-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" android:required="false"/>-->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

<!--    <application-->
<!--        android:label="mystorage"-->
<!--        android:name="${applicationName}"-->
<!--        android:icon="@mipmap/launcher_icon">-->

<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="true"-->
<!--            android:launchMode="singleTop"-->
<!--            android:theme="@style/LaunchTheme"-->
<!--            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"-->
<!--            android:hardwareAccelerated="true"-->
<!--            android:windowSoftInputMode="adjustResize">-->

<!--            <meta-data-->
<!--                android:name="io.flutter.embedding.android.NormalTheme"-->
<!--                android:resource="@style/NormalTheme"/>-->

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.SEND"/>-->
<!--                <category android:name="android.intent.category.DEFAULT"/>-->
<!--                <data android:mimeType="image/*"/>-->
<!--                <data android:mimeType="video/*"/>-->
<!--            </intent-filter>-->

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.SEND_MULTIPLE"/>-->
<!--                <category android:name="android.intent.category.DEFAULT"/>-->
<!--                <data android:mimeType="image/*"/>-->
<!--                <data android:mimeType="video/*"/>-->
<!--            </intent-filter>-->

<!--        </activity>-->

<!--        <meta-data-->
<!--            android:name="flutterEmbedding"-->
<!--            android:value="2"/>-->
<!--    </application>-->

<!--    <queries>-->
<!--        <intent>-->
<!--            <action android:name="android.intent.action.PROCESS_TEXT"/>-->
<!--            <data android:mimeType="text/plain"/>-->
<!--        </intent>-->
<!--    </queries>-->
<!--</manifest>-->




<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mystorage">

    <!-- Permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"
        tools:targetApi="eclair" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
<!--    <uses-permission android:name="android.permission.RECORD_AUDIO"/>-->

<!--    &lt;!&ndash; Location permissions &ndash;&gt;-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

<!--    &lt;!&ndash; Storage permissions &ndash;&gt;-->
<!--    &lt;!&ndash; For Android 10 and below &ndash;&gt;-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29"
        tools:ignore="UnusedAttribute" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage"/>

    <!-- For Android 11 and above -->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" android:required="false"/>-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" android:required="false"/>-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" android:required="false"/>-->

    <!-- Optional notifications permission -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" tools:targetApi="33"/>

    <application
        android:label="Foto-Nizer"
        android:icon="@mipmap/launcher_icon"
        android:name="${applicationName}"
        android:theme="@style/LaunchTheme">

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Flutter's normal theme -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <!-- Main launch intent -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Intent filters for sharing single/multiple media files -->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="video/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="video/*"/>
            </intent-filter>
        </activity>

        <!-- Flutter embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
    </application>

    <!-- Queries section for accessing other apps -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
